.mantine-DateRangePicker-defaultVariant {
    text-align: 'center';
}


.mantine-DateRangePicker-input {
    text-align: 'center';
}


.mantine-DateRangePicker-input {
    text-align: 'center';
}


.mantine-DateRangePicker-withIcon {
    text-align: 'center';
}


.mantine-1u6qvdi {
    text-align: 'center';
}
