{% extends "layout.html" %}

{% block body %}

    <main role="main" class="container">
        <h3>{{ title }}'s <em>Original Pressings</em> for sale</h3>
        <h4>In wantlist: {{ in_wantlist }} </h4>
        <h4>In collection: {{ in_collection }} </h4>
        <br>

        <table>
            <tr>
                <th id="uri">URI</th>
                <th id="condition">Condition</th>
                <th id="sleeve-condition">Sleeve Condition</th>
                <th id="price">Price</th>
                <th id="currency">Currency</th>
            </tr>
            {% for vinyl in vinyls %}
            <tr>
                <td id="uri"><a href={{ vinyl['uri'] }} target="_blank" rel="noopener noreferrer">{{ vinyl['uri'] }}</td>
                <td id="condition">{{ vinyl['condition'] }}</td>
                <td id="sleeve-condition">{{ vinyl['sleeve_condition'] }}</td>
                <td id="price">{{ vinyl['price'] }}</td>
                <td id="currency">{{ vinyl['currency'] }}</td>
                <td id="in-wantlist">{{ vinyl['in_wantlist'] }}</td>
                <td id="in-colection">{{ vinyl['in_collection'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>

{% endblock %}
