{% extends "layout.html" %}

{% block body %}
    
    <h3>Search an artist to see their master releases</h3>

    <br>

    <form action="/sample-request-search" method="post">
        <input autocomplete="off" autofocus id="artist" name="artist" placeholder="Artist" type="text">
        <button type="submit">Search</button>
    </form>

    <br>

    <table>
        <tr>
            <th>Master</th>
            <th>Year</th>
            <th>Album Cover</th>
        </tr>
        {% for d in data %}
        <tr>
            <td><a href={{ base_url + d[1] }} target="_blank" rel="noopener noreferrer">{{ d[0] }}</a></td>
            <td>{{ d[2] }}</td>
            <td><img src="{{ d[3] }}" alt="{{ d[0] }} Album Cover" height=150 width=150/></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
